@media screen and (max-width: 768px){
    .u-txt-numeros{
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 47px;
        text-align: center;
    }
    input {
        width: 95%;
        border-radius: 16px;
        padding: 6px 5px 6px 5px;
    }
    .u-txt-40 {
        font-family: Roboto Condensed;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: 14px;
    }
    .play-button {
        position: absolute;
        margin-top: 70%;
        right: revert;
    }
    .play-button img{
        width: 64px;
    }
    .centrado{
        flex-flow: nowrap;
    }
}